<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<!--
		<add key="ApplicationLevelAuthentication" value="APIKey" /> 
		<add key="APIKey" value="APIKey_HERE" />
		-->
		<add key="ApplicationLevelAuthentication" value="BearerToken" />
		<add key="BearerToken" value="BearerToken_HERE" />
	</appSettings>
</configuration>